@charset utf-8;

@font-face {
    font-family: 'DanielBold';
    src: url('fonts/danielbd-webfont.eot');
    src: url('fonts/danielbd-webfont.eot?iefix') format('eot'),
         url('fonts/danielbd-webfont.woff') format('woff'),
         local("@"), url('fonts/danielbd-webfont.ttf') format('opentype'),
         url('fonts/danielbd-webfont.svg#webfontxsRwIIFF') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/Chunkfive-webfont.eot');
    src: url('fonts/Chunkfive-webfont.eot?iefix') format('eot'),
         url('fonts/Chunkfive-webfont.woff') format('woff'),
         url('fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('fonts/Chunkfive-webfont.svg#webfont90E2uSjN') format('svg');
    font-weight: normal;
    font-style: normal;

}

#title {
	font: 60px/68px 'ChunkFiveRegular', Arial, sans-serif;
	letter-spacing: 0;
	text-align: center;
	clear: both;
}

.w840 {
	width: 840px;
}

body {
	font-size: xx-large;
	text-align: center;
	background: #5E2009 url(img/WoodPattern02.jpg); /*img/bg.png);*/
	margin: 0px auto;
	font-family: 'Lucida Grande';
	width: 940px;
}

/*video {
	width: 429px;
	height: 145px;
	position: absolute;
	top: 206px;
	left: 478px;
	text-align: center;
	z-index: 2;
}
*/
#body {
	margin: 0px auto;
	margin-top: 70px;
}

header {
	position: absolute;
	top: 0px;
	margin-left: 5px;
}

a {
	text-decoration: none;
	color: gray;
}

#background {
	background: #F8F2EE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	height: 1120px;
	width: inherit;
	margin: 0px auto;
}

img {
	font-size: 0px;
}

#animframe {
	position: absolute;
	top: 153px;
	height: 354px;
	width: 100px;
	margin-left: 80px;
	
/*	background: #999; /* for non-css3 browsers */
/*	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6EEE9', endColorstr=rgba(0,0,0,0)); /* for IE */
/*	background: -webkit-gradient(linear, left top, left bottom, from(#F6EEE9), to(rgba(0,0,0,0))); /* for webkit browsers */*/
/*	background: -moz-linear-gradient(left,  #F6EEE9,  rgba(0,0,0,0)); /* for firefox 3.6+ */
text-align: center;
/*	z-index: -1;
*/}

.rounded {
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;

	-moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

#background #shadow {
	
	height: inherit;
	width: inherit;
/*	z-index:-4;*/
}

#desktop {
  background: url('img/desktop.jpg');
  background-repeat: no-repeat;
  margin-left: 75px;
  width: 700px;
  height: 630px;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;
	-moz-box-shadow: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}

#bottom {
  margin-top: 30px;
}

#anim-image {
	margin-top: 10px;
  margin-left: -20px;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;

/*  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
*/
}

#anim, #anim2 {
	position: absolute;
	display: block;
	margin-left: 207px;
	top: 217px;
}

#pomcast {
  background: url(img/pomcast.png);
	width: 224px;
	height: 66px;
	float: left;
	z-index:1;
}

#pomcast a {
	font: 1px 'ChunkFiveRegular', Arial, sans-serif;
	color: white;
	font-size: 28px;
	text-shadow: 0.1em 0.1em #333;
	padding-right: 5px;
	margin-top: 20px;
}

#support {
	background: url(img/support.png);
	width: 106px;
	height: 56px;
	float: right;
}

#support a {
	font: Arial, sans-serif;
	width: 80px;
}

#support a {
	padding-right: 5px;
	color: white;
	font-size: 18px;
}

#lang {
	font-size: 14px;
	font-weight: bold;
	float: right;
	color: gray;
	margin-top: 15px;
	width: 350px;
}

#lang a:hover {
	color: white;
}

#social {
	position: fixed;
	top: 100px;
	text-align: right;
	height: 250px;
	width: 97px;
	margin-left: 828px;
	z-index:-1;
	text-align: left;
}

#like {
	margin-left: 15px;
}


#button a, #alert a
{
/*	background: red;*/
	position: relative;
	float: right;
	text-align: right;
	display:block;
	height: 40px;

/*	border-radius: 40px;
	border: 5px solid #F00;
*/}

#button a
{
	top: 270px;
	left: 620px;
	width:150px;
}

#alert a
{
	top: 155px;
	left: 540px;
	width:110px;
}

#pitch1 {
	margin-top: 200px;
}

#pitch1, #pitch2, #pitch3 {
	font-size: 24px;
	color: gray;
	font-weight: bold;
	font-family: Georgia;
	margin: 20px 20px 0px 20px;
}

#tellme {
	padding-top: 30px;
	color: red;
	font: 34px/43px 'DanielBold', Arial, sans-serif;
	margin-bottom: 10px;
}

.play {
	font-size: 10pt;
	float: right;
	margin-right: 75px;
	margin-top: -3px;
	text-align: right;
	font: Arial, sans-serif;
}

#footer {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	color: gray;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	height: 30px;
}

#ppc {
	color: green;
}

/* http://www.sohtanaka.com/web-design/simple-page-peel-effect-with-jquery-css */
#pageflip {
	position: relative;
}
#pageflip img {
	width: 50px; height: 52px;
	z-index: 99;
	position: absolute;
	right: 0; top: 0;
	-ms-interpolation-mode: bicubic;
}
#pageflip .msg_block {
	color: #000;
	width: 50px; height: 50px;
	position: absolute;
	z-index: 50;
	right: 0; top: 0;
	font-size: 10pt;
/*	background: #0F0;*/
/*	text-indent: -9999px;*/
	margin: 3px 2px 0px 0px;
	text-align: right;
}
/* ------------------------------------------------------------ */

#bug11 {
	position: absolute;
	top: 155px;
	background: red;
	color: white;
	z-index: 999;
	text-align: center;
	width: 660px;
	margin-left: 80px;
	font-size: 18px;
	padding: 10px 10px 10px 10px;
}